In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [11]:
data = pd.read_csv("../data/metacritic_games.csv")
print(data.shape)
data.head()

(20422, 18)

,name,platform,developer,publisher,genre(s),players,rating,attribute,release_date,link,critic_positive,critic_neutral,critic_negative,metascore,user_positive,user_neutral,user_negative,user_score
0,Command & Conquer,PC,Westwood Studios,Virgin Interactive,Sci-Fi,1-4,T,NaN,"Aug 31, 1995",/game/pc/command-conquer,5,0,0,94,47,0,1,8.9
1,Full Throttle,PC,LucasArts,LucasArts,Adventure,NaN,NaN,NaN,"Apr 30, 1995",/game/pc/full-throttle,6,2,0,86,18,1,0,8.7
2,Battle Arena Toshinden,PS,Tamsoft,SCEA,Action,1-2,T,NaN,"Sep 9, 1995",/game/playstation/battle-arena-toshinden,1,3,0,69,1,0,1,5.8
3,Sid Meier's Civilization II,PC,MPS Labs,MicroProse,Strategy,1 Player,K-A,NaN,"Feb 29, 1996",/game/pc/sid-meiers-civilization-ii,7,0,0,94,46,0,1,8.9
4,Quake,PC,id Software,id Software,Action,1-16,M,NaN,"Jun 22, 1996",/game/pc/quake,9,0,0,94,84,4,1,8.8

In [12]:
# Calculate total number of users and critics
number_of_users = (
    data["user_positive"].to_numpy()
    + data["user_neutral"].to_numpy()
    + data["user_negative"].to_numpy()
)
number_of_critics = (
    data["critic_positive"].to_numpy()
    + data["critic_neutral"].to_numpy()
    + data["critic_negative"].to_numpy()
)

data["number_of_users"] = number_of_users
data["number_of_critics"] = number_of_critics

In [13]:
data.drop(
    [
        "name",
        "players",
        "attribute",
        "link",
        "critic_positive",
        "critic_neutral",
        "critic_negative",
        "user_positive",
        "user_neutral",
        "user_negative",
    ],
    axis=1,
    inplace=True,
)
data.head()

,platform,developer,publisher,genre(s),rating,release_date,metascore,user_score,number_of_users,number_of_critics
0,PC,Westwood Studios,Virgin Interactive,Sci-Fi,T,"Aug 31, 1995",94,8.9,48,5
1,PC,LucasArts,LucasArts,Adventure,NaN,"Apr 30, 1995",86,8.7,19,8
2,PS,Tamsoft,SCEA,Action,T,"Sep 9, 1995",69,5.8,2,4
3,PC,MPS Labs,MicroProse,Strategy,K-A,"Feb 29, 1996",94,8.9,47,7
4,PC,id Software,id Software,Action,M,"Jun 22, 1996",94,8.8,89,9

In [14]:
# Change release date to release year
release_date = data["release_date"].to_list()
release_year = []
for val in release_date:
    year = val[-4:]
    release_year.append(year)

data["release_date"] = release_year
data.head()

,platform,developer,publisher,genre(s),rating,release_date,metascore,user_score,number_of_users,number_of_critics
0,PC,Westwood Studios,Virgin Interactive,Sci-Fi,T,1995,94,8.9,48,5
1,PC,LucasArts,LucasArts,Adventure,NaN,1995,86,8.7,19,8
2,PS,Tamsoft,SCEA,Action,T,1995,69,5.8,2,4
3,PC,MPS Labs,MicroProse,Strategy,K-A,1996,94,8.9,47,7
4,PC,id Software,id Software,Action,M,1996,94,8.8,89,9

In [15]:
# Get unique values for each column
column_list = data.columns.values.tolist()
for column_name in column_list:
    print(data[column_name].unique())

['PC' 'PS' 'N64' 'DC' 'PS2' 'XBOX' 'GBA' 'GC' 'DS' 'X360' 'PSP' 'WII'
 'PS3' '3DS' 'VITA' 'WIIU' 'PS4' 'XONE' 'Switch']
['Westwood Studios' 'LucasArts' 'Tamsoft' ... 'Deeli network'
 'Undercoders' 'Snap Finger Click Ltd']
['Virgin Interactive' 'LucasArts' 'SCEA' ... 'Deeli network' 'Undercoders'
 'Snap Finger Click Ltd']
['Sci-Fi' 'Adventure' 'Action' 'Strategy' 'Role-Playing' 'Driving'
 'Action Adventure' 'Miscellaneous' 'Simulation' 'Sports' 'Puzzle'
 "Beat-'Em-Up" 'General' 'First-Person' 'Pinball' 'Wargame' 'Modern'
 'Shooter' 'Fantasy' 'Compilation' 'Action RPG' 'Dancing' 'Street'
 'PC-style RPG' 'Music' 'Sim' 'Platformer' 'Rally / Offroad' 'Board Games'
 'Olympic Sports' 'Formula One' 'WWII' 'Massively Multiplayer Online'
 'Ice Hockey' 'Horror' 'GT / Street' 'Music Maker' 'Historic' 'Fighting'
 'Edutainment' 'Tycoon' 'Alternative' 'Arcade' '3D' 'Party' 'Card Battle'
 'Tactical' 'Console-style RPG' 'Traditional' 'Third-Person' 'WWI'
 'Virtual Life' 'Real-Time' 'Scrolling' 'Flight' 'Racing' 'City Building'
 '2D' 'Japanese-Style' 'Breeding/Constructing' 'Military' 'MOBA'
 'Futuristic' 'Western-Style' '4X' 'Turn-Based' 'Rail' 'Other']
['T' nan 'K-A' 'M' 'E' 'E10+' 'AO' 'EC' 'RP']
['1995' '1996' '1997' '1998' '1999' '2000' '2001' '2018' '2002' '2003'
 '2004' '2005' '2017' '2006' '2007' '2008' '2009' '2010' '2011' '2012'
 '2013' '2014' '2015' '2016']
[94 86 69 93 92 91 90 89 85 84 83 80 79 77 74 70 59 53 96 88 82 73 72 71
 56 99 87 81 78 76 75 67 65 61 58 98 66 60 49 43 97 95 68 64 63 62 57 55
 54 52 51 50 48 47 46 44 42 41 40 39 38 37 35 34 32 30 29 28 27 26 25 24
 45 36 33 31 22 19 23 18  8 16 12 21 20 17 11 13 14 15]
['8.9' '8.7' '5.8' '8.8' '9.2' '8.5' '8.2' '8.4' '9.0' '8.6' '5.0' '7.1'
 '8.0' 'tbd' '8.1' '8.3' '7.8' '7.4' '7.5' '7.6' '6.8' '6.4' '9.1' '6.9'
 '7.2' '7.9' '6.6' '7.7' '6.2' '6.1' '6.3' '7.0' '7.3' '4.0' '6.7' '6.0'
 '6.5' '5.3' '5.9' '5.2' '5.6' '4.9' '3.3' '4.6' '5.7' '4.2' '3.6' '1.2'
 '0.7' '2.3' '2.8' '2.1' '5.5' '4.7' '5.1' '5.4' '4.5' '4.3' '3.5' '1.8'
 '4.4' '3.8' '3.0' '3.9' '3.4' '2.5' '2.6' '4.8' '1.7' '2.4' '0.4' '3.2'
 '3.7' '2.7' '1.9' '2.0' '2.9' '2.2' '3.1' '4.1' '1.4' '1.6' '1.0' '1.3'
 '1.5' '0.1' '1.1' '0.8' '9.4' '9.3' '0.5']
[  48   19    2   47   89   99  244    6   17   36   62   28   11   44
    5    1    9    0    4    3    7   10  137  110    8  414   20  126
   39   34   40   14   24   29   75   18   21  997   50  547  214   71
  100   43   64  113   84   13  142   12  136   31   15   68   32   42
  103  107   59   46   25  146   26  160   76   22   77   41   98   27
   35   16   54  223  229  193  104   30   60   49   69   90  261  553
  141   55  117   23   33  101  234  505  306  125  132   58   92  257
  276  130   86   88   67  147  102  154   52   94   57  119   51  105
   66  296  221   95   61   73  140  165   53  134   79   45   65  194
   56   81   38   37  157  354  155  294  138   74   63   78  123  120
   70  124  471 2008  499  521  522  190  236  150  210 1437  106  108
  111   83  171  255   72  373  281  265  189  259   96   85  282  225
  188  227  222  144  152  131  388  722  719  447  116  429  514  348
  532  284  288  121  592  202  177  187  207  527  218  186  309  680
  602  242  772  364 1068  133  460 1355  115  477  128  405  883  145
  528   82  289  208  302  220  184   80  639  914  835  582  139  383
  370  127  706  195  495  250  216  518  407  158  114   91  135  129
  275  149  270  472  230  677  109  290  382  159  981  327  502 1281
  273  292  231  836  376  511  213  164 1331  303  304  178  267  112
  224  350   97  167  845  148  444  325  599  424  619  837  614  211
  153  191  402  437  513  174  118  661  235  361  445  151   93  321
  539  173  226  262  179  209  232  448 1203 1840  285 2406  326  203
  786 1039  988  436  311  717  264  360  161  295 1531  205  421 4316
  286 2243 1370  613 1353  308  162  822  258  172  253  219  584  201
 1678  355  185  166  245  377  678  899 1700  180  301   87  204  197
  435  156  252 1398  401  240  379  663  938  239  565  574 2025  496
 4689 1030  228  529  182  269  594  530  342  901  300  310  720  409
  163  357  400  217  340  334  249  378  419  122  176  175  237 1601
  727  804 1843  389 1570  430  412  283  260 3585  449  298  819  278
  743  363  170  390  398  317  397  323  305  426  476  967  274  313
  192  233 1566  339 1759  143  516  238  575  422  894  576  247 2056
  381  319  637  544 1170  468  196  497  438  487  359  470  393  782
  466 1459  367  200  408  536  268  279  324  783  857  683  431 1827
  215  635  351  865  394  343  831  564  809 1545  847 1391  912  392
 1138  337  183  832 2231  404  600  458  333  368  272  198  741  206
  504  927 1181  391  387  256  181  507  320 1025  625  417 1371  199
  356  271  656 3449 1171  469  287 1514  591  169  557  630  427  440
  475  410  399 1009 2373  555 2460 3019  752  375 1076  484  345  480
  330  791  628  459  762  618 1487 2296  488]
[  5   8   4   7   9  12  13   6  10  21  20  15  16  11  22  24  19  18
  14  17  23  30  27  35  25  38  26  32  28  31  34  29  56  68  42  54
  37  33  53  59  45  39  70  62  36  46  41  40  61  44  43  80  72  52
  50  49  47  58   0  81  91  76  74  48  57  60  65  89  84  64  83  69
  55  67  51  87  63  66  75  82  73  77  71  88  90  78  86  85  79  95
 105 100  94  98  92  96 101  99  93 107  97   3 102 103 113 104 110 109
 106 115 118 116]

In [16]:
# Quantize some columns
data["metascore"], bins = pd.qcut(data["metascore"], 7, labels=False, retbins=True)
print(bins)

data["number_of_users"], bins = pd.qcut(
    data["number_of_users"], 8, labels=False, retbins=True
)
print(bins)

data["number_of_critics"], bins = pd.qcut(
    data["number_of_critics"], 8, labels=False, retbins=True
)
print(bins)

# User score has tbd values, replace them with 7
# Then do the quantization
data["user_score"] = data["user_score"].replace("tbd", "7")
data["user_score"] = data["user_score"].astype(float)
quantized_user_score, bins = pd.qcut(
    data[data["user_score"] != 7]["user_score"], 7, labels=False, retbins=True
)
data["user_score"] = data["user_score"].astype(int)
data.loc[data["user_score"] != 7, "user_score"] = quantized_user_score
print(bins)

data.head()

[ 8. 55. 63. 68. 73. 77. 82. 99.]
[0.000e+00 1.000e+00 2.000e+00 3.000e+00 5.000e+00 9.000e+00 1.600e+01
 3.800e+01 4.689e+03]
[  0.   5.   7.  10.  14.  19.  26.  39. 118.]
[0.1 5.5 6.4 7.1 7.5 7.9 8.3 9.4]

,platform,developer,publisher,genre(s),rating,release_date,metascore,user_score,number_of_users,number_of_critics
0,PC,Westwood Studios,Virgin Interactive,Sci-Fi,T,1995,6,6,7,0
1,PC,LucasArts,LucasArts,Adventure,NaN,1995,6,6,6,2
2,PS,Tamsoft,SCEA,Action,T,1995,3,1,1,0
3,PC,MPS Labs,MicroProse,Strategy,K-A,1996,6,6,7,1
4,PC,id Software,id Software,Action,M,1996,6,6,7,2

In [17]:
# Encode categorical columns to numerical values
le = LabelEncoder()
data["platform"] = le.fit_transform(data["platform"])
data["developer"] = le.fit_transform(data["developer"])
data["publisher"] = le.fit_transform(data["publisher"])
data["genre(s)"] = le.fit_transform(data["genre(s)"])
data["rating"] = le.fit_transform(data["rating"])
data["release_date"] = le.fit_transform(data["release_date"])
data.head()

,platform,developer,publisher,genre(s),rating,release_date,metascore,user_score,number_of_users,number_of_critics
0,6,4515,2048,50,7,0,6,6,7,0
1,6,2330,1113,6,8,0,6,6,6,2
2,7,4006,1629,3,7,0,3,1,1,0
3,6,2369,1185,56,4,1,6,6,7,1
4,6,4696,2205,3,5,1,6,6,7,2

In [18]:
# Save the dataframe except for the metascore column to a npy file
data_without_metascore = data.drop(["metascore"], axis=1)
data_without_metascore = data_without_metascore.to_numpy()
np.save("../data/metacritic_data.npy", data_without_metascore)

# Save the metascore column to a npy file
# Metascore is the target column
metascore = data["metascore"].to_numpy()
np.save("../data/metascore.npy", metascore)